.score-text {
   &-percent {
      font-size: 26px;
      fill: black;
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: 700;
   }
   &-subtitle {
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      fill: #74798c;
   }
}
