.graph-activity {
   .title {
      fill: black;
      font-family: "Leto", sans-serif;
      font-size: 15px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: left;
   }
   .domain {
      stroke-width: 2px;
      stroke: #9b9eac;
      transform: scaleX(1.028) translateX(-10px);
   }
   .tick-text,
   .legend-text-kg,
   .legend-text-calorie {
      font-family: "Leto", sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: right;
      fill: #9b9eac;
   }
   .tick-line {
      transform: scaleX(1.028) translateX(-10px);
      stroke-dasharray: 3px;
      stroke: #9b9eac;
   }
   .bar-kg,
   .legend-circle-kg {
      fill: "#282D30";
   }
   .bar-calorie,
   .legend-circle-calorie {
      fill: red;
   }
   .legend-text-kg,
   .legend-text-calorie {
      fill: #74798c;
   }

   .hover-selector {
      opacity: 0;
      fill: black;
   }
   .tooltip {
      &-rect {
         fill: red;
      }
      &-text {
         fill: white;

         font-family: "Leto", sans-serif;
         font-style: normal;
         font-weight: 500;
         font-size: 7px;
         line-height: 24px;
      }
   }
}
