.graph-activity {
   .tick-text {
      font-family: "Leto", sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: right;
      fill: #9b9eac;
   }
}
