.graph-average-sessions {
   font-family: "Lato", sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 15px;
   line-height: 24px;
   svg,
   g {
      fill: none;
   }
   path {
      stroke: white;
      stroke-width: 2px;
      stroke-linecap: round;
   }
   .tick text,
   .title {
      fill: white;
      font-size: 15px;
   }

   .graph-line-dot {
      opacity: 0;
   }

   .hover-selector {
      opacity: 0;
      fill: black;
   }
   .tooltip {
      &-rect {
         fill: white;
      }
      &-text {
         font-size: 8px;
         fill: black;
         font-weight: 700;
      }
   }
}
