.graph-activity {
   .domain {
      stroke-width: 2px;
      stroke: #9b9eac;
      transform: scaleX(1.028) translateX(-10px);
   }
   .tick-text {
      font-family: "Leto", sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: right;
      fill: #9b9eac;
   }
   .tick-line {
      transform: scaleX(1.028) translateX(-10px);
      stroke-dasharray: 3px;
      stroke: #9b9eac;
   }
}
