.home {
   position: relative;

   padding: 10px;
   left: 117px;
   top: 80px;
   margin-left: 109px;
   margin-right: 117px;
   font-family: "Roboto", sans-serif;

   h1 {
      font-size: 48px;
   }
   p {
      font-size: 24px;
   }
   &__title--user {
      color: red;
   }

   &__stats {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      margin-bottom: 20px;

      flex-wrap: wrap;
      align-items: center;
      width: 872px;
      &--card {
         height: 263px;
         width: 258px;

         border-radius: 5px;
         margin: 15px;

         &.large {
            height: 320px;
            width: 840px;
         }
         &.red-card {
            background-color: red;
            color: white;
         }
         &.black-card {
            background-color: #282d30;
            color: white;
         }
         &.gray-card {
            background-color: #fbfbfb;
         }
      }
   }
}
