@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
body {
  margin: 0px;
}

#root {
  min-width: 1024px;
  min-height: 780px;
}

/*
1024x780
*/
.NavBarFooter {
  background-color: #000;
  color: white;
  width: 117px;
  height: calc(100% - 82px);
  position: fixed;
}
.NavBarFooter__container {
  margin-top: 270px;
  background-color: #000;
  height: 100%;
}
.NavBarFooter__container__items--item {
  border-radius: 6px;
  background-color: white;
  height: 64px;
  width: 64px;
  margin: auto;
  margin-bottom: 20px;
}
.NavBarFooter__container__items--item img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  top: 16px;
  position: relative;
}
.NavBarFooter__container__copyright {
  rotate: 180deg;
  margin-bottom: 50px;
  padding-top: 50px;
  top: 50px;
  position: relative;
  background-color: #000;
}
.NavBarFooter__container__copyright p {
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  text-orientation: mixed;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  left: 37.5px;
  position: relative;
}

.NavBarMenu {
  border: solid 1px #000;
  background-color: #000;
  color: white;
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 2;
}
.NavBarMenu__container {
  display: flex;
  top: 10px;
  position: relative;
}
.NavBarMenu__container__logo {
  width: 250px;
  margin-left: 29px;
}
.NavBarMenu__container__logo--img {
  width: 200px;
}
.NavBarMenu__container__items {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-direction: row;
  flex: 1;
}
.NavBarMenu__container__items--item a, .NavBarMenu__container__items--item a:visited {
  color: white;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
}

.score-text-percent {
  font-size: 26px;
  fill: black;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
}
.score-text-subtitle {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  fill: #74798c;
}

.graph-average-sessions {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
}
.graph-average-sessions svg,
.graph-average-sessions g {
  fill: none;
}
.graph-average-sessions path {
  stroke: white;
  stroke-width: 2px;
  stroke-linecap: round;
}
.graph-average-sessions .tick text,
.graph-average-sessions .title {
  fill: white;
  font-size: 15px;
}
.graph-average-sessions .graph-line-dot {
  opacity: 0;
}
.graph-average-sessions .hover-selector {
  opacity: 0;
  fill: black;
}
.graph-average-sessions .tooltip-rect {
  fill: white;
}
.graph-average-sessions .tooltip-text {
  font-size: 8px;
  fill: black;
  font-weight: 700;
}

.graph-performance .area {
  fill: red;
  opacity: 0.5;
}

.graph-activity .domain {
  stroke-width: 1px;
  stroke: #9b9eac;
  transform: scaleX(1.028) translateX(-10px);
}
.graph-activity .tick-text {
  font-family: "Leto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: right;
  fill: #9b9eac;
}

.home {
  position: relative;
  padding: 10px;
  left: 117px;
  top: 80px;
  margin-left: 109px;
  margin-right: 117px;
  font-family: "Roboto", sans-serif;
}
.home h1 {
  font-size: 48px;
}
.home p {
  font-size: 24px;
}
.home__title--user {
  color: red;
}
.home__stats {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  align-items: center;
  width: 872px;
}
.home__stats--card {
  height: 263px;
  width: 258px;
  border-radius: 5px;
  margin: 15px;
}
.home__stats--card.large {
  height: 320px;
  width: 840px;
}
.home__stats--card.red-card {
  background-color: red;
  color: white;
}
.home__stats--card.black-card {
  background-color: #282d30;
  color: white;
}
.home__stats--card.gray-card {
  background-color: #fbfbfb;
}

.App {
  position: relative;
  padding: 10px;
  left: 117px;
  top: 80px;
  margin-left: 109px;
  margin-right: 117px;
  font-family: "Roboto", sans-serif;
}/*# sourceMappingURL=index.css.map */